<html>
<head>
</head>
<body>
  <form action="/user" method="POST">
    NAME: <input type="text" name="name"/><br />
    PHONE: <input type="number" name="phone" /><br />
    <button type="submit">Submit</button>
  </form>
  <a href="/user">HOME</a>
</body>
</html>
